.container{

    display:block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
    width: 100%;
}

.container h1 {
    font-weight: 1000;
    color: #222;
}

.container h2 {
    font-weight: 1000;
    color: #222;
}

.container img {
    padding: 0.5em;
    height: 35em;
}

@media(max-width: 992px){

    .container{
        
        width: 0%;

    }
  
    .section{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .section img{

        height: 16em;
    }

}