.container{

    display:block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
    width: 100%;
}

.container p{
    display: flex;
    margin-left: 80%;
    font-weight: 900;
}

.container h1 {
    font-weight: 1000;
    color: #222;
}

.container h2 {
    font-weight: 1000;
    color: #222;
}

.container img {
    padding: 0.5em;
    height: 35em;
}