.navbar{

   
    display: flex;
    justify-content: center;
    background-color: #0a2d4c;
    height: 6em;
    padding: 1em;
    align-items: center;
}

.navbar ul {

    display: flex;
    list-style: none;
}

.navbar img {

    width: 100px;
    height: 80px;
}

.navbar h1{
    color: #fff;
    
}

.item_a{

    color: #fff;
    margin-left: 15em;
    text-decoration: none;
}

.item_a:hover{

    color: blue;

}